<!DOCTYPE html>
<html lang='{{ site.data.settings.lang }}'>
<head>
   {% assign url = page.url | remove: '/' | remove: 'category' | remove: 'tags' | downcase | replace: '-', ' ' %}  
   {% assign cat_list = site.categories %}
   {% assign cat-list = page.categories %}
   {% assign tag-list = page.tags %}

   <meta charset='utf-8'>
   {% if page.exclude %}
   {% for meta in site.data.settings.meta %}
   {% assign page-title = page.title | replace: ' ', '-' | downcase %}
   {% if page-title == meta.page-name %}   
   <title>{{ page.title }}{% if meta.aftertitle %} · {{ meta.aftertitle }}{% else %} · {{ site.data.settings.title }}{% endif %}</title>   
   <meta name='description' content='{{ meta.desc }}'>
   <meta name='keywords' content="{% if page.title == 'Category' %}{% for cat in cat_list limit=10 %}{% for cat-page in site.pages %}{% if cat-page.layout == 'category' %}{% for cat-post in site.posts %}{% if cat-post.title == cat-page.cover-post %}{% assign x = cat[0] %}{% assign y = cat-page.path | remove: 'category/' | remove: '.md' %}{% if x == y %}{{ cat[0] | replace: '-', ' ' }}, {% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endfor %}{{ site.data.settings.title }}{% else %}{{ meta.keyword }}{% endif %}">
   {% endif %}
   {% endfor %}
   {% else %} 
   <title>{% if page.layout == 'category' or page.layout == 'tags' %}{{ url | capitalize }} · {{ site.data.settings.title }}{% else %}{{ page.title }} · {{ site.data.settings.title }}{% endif %}</title>
   <meta name='description' content="{% if page.layout == 'post' %}{{ page.title }}{% for cat in cat-list %} & {{ cat }}{% endfor %}{% for tag in tag-list %} & {{ tag }}{% endfor %}{% elsif page.layout == 'category' or page.layout == 'tags' %}{{ url }} sex scandal & {{ url }} fucked & {{ url }} big black cock & {{ url }} brunette & {{ url }} babe & {{ url }} fake taxi & {{ url }} interracial & {{ url }} extreme fuck & {{ url }} rough sex & {{ url }} gangbang {{ site.data.settings.title }}{% else %}{{ page.desc }}{% endif %}">
   <meta name='keywords' content="{% if page.layout == 'post' %}{% for cat in cat-list %}{{ cat }}, {% endfor %}{% for tag in tag-list %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}{% elsif page.layout == 'category' or page.layout == 'tags' %}{{ url }} sex scandal, {{ url }} fucked, {{ url }} big black cock, {{ url }} brunette, {{ url }} babe, {{ url }} fake taxi, {{ url }} interracial, {{ url }} extreme fuck, {{ url }} rough sex, {{ url }} gangbang {{ site.data.settings.title }}{% else %}{{ page.keyword }}{% endif %}">
   {% endif %}  
   
   <meta name='author' content='{{site.data.settings.author}}'>
   <meta name='dcterms.rightHolder' content='{{site.url}}'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <link rel='cannonical' href="{{site.url}}{{page.url | replace: 'index.html' , ''}}">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
   <link rel='stylesheet' href='/assets/css/main.css' type='text/css'>
   <link rel='shortcut icon' href='/favicon.ico'>   
   
   <script type="text/javascript">
      var postsHREF = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
      var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
   </script>
   
</head>
<body id='main'>
   <header id='header'>
      <section class='header-container'>
         <div class='header-top'>
            <a class='banner' href='/'><img src='/assets/img/banner.png' alt='{{ site.data.settings.title}} banner'></a>
            <div class='btn'>
               <a class='upload' href='/'>Upload</a>
               <a class='login' href='/'>Log In</a>
               <a class='signup' href='/'>Sign Up</a>
            </div>      
         </div>
         <div class='header-bottom'>
            <nav class='nav-menu'>
               <a class='mobile-nav'>{% include icons/mobile-nav.html %}</a>
               <a class="home {% if page.url == '/' %}current{% endif %}" href='/'>{% include icons/home.html %}</a>
               
               {% for menu in site.data.settings.menu %}
               {% if menu.name != 'contact' %}
               {% assign menu-item = menu.name | replace: ' ', '-' %}
               <a class="{{ menu.name | replace: ' ', '-' }}{% if page.url contains menu-item %} current{% endif %}" href="/{{ menu.name | replace: ' ', '-'}}">{{ menu.name }}</a>
               {% endif %}
               {% endfor %}
               
               <a id='random'>{% include icons/q-mark.html %}</a>
            </nav>
            <form class='search' action="/search" method="get">
              <input type="text" id="search-box" name="query" placeholder="Search here..">
              <input type="submit" value="">
            </form>
         </div>
      </section>   
   </header>
